/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	position: relative;
	z-index: 0;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}


h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/* CSS du bandeau mode édition */

#edition {
	width: 100%;
	height: 59px;
	margin-left: 0;
	margin-right: 0;
	padding-left:150px ;
	padding-right: 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #000000;
	font-size: 16px;
}

#edition a {
	color: white;
	text-decoration: none;
}

#edition-frame {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* CSS de la galerie */
.gallery {
	padding-left: 0px;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 40px;
}

#gallery-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.element {
	display: inline-block;
	height: 422px;
	width: 93%;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 5px;

}

/* CSS du formulaire de contact/footer */

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* CSS des boutons de tri */

#portfolio .bouton-de-tri {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

#portfolio button {
	font-family: 'Syne';
	height: 37px;
	color: #1D6154;
	background-color: #FFFEF8;
	border-radius: 60px;
	padding: 0 20px 0 20px;
	font-weight: 700;
	font-size: 16px;
	border: 1px solid #1D6154;
}

	#portfolio button:hover {
		color: #FFFEF8;
		background-color: #1D6154;
}

nav a {
	text-decoration: none;
	color: #000000;
}

#portfolio a {
	color: black;
	text-decoration: none;
	position: relative;
	bottom: 15px;
}

.portfolio-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

/* Styles pour la modale*/

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 630px;
	height: 688px;
	bottom: 15%;
	left: 33.5%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	box-sizing: border-box;
	z-index: 3;
}

.modal-open {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.modal-section {
	display: flex ;
	flex-direction: column ;
	justify-content: center ;
	align-items: center ;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 10px 80px 10px 80px;
	box-sizing: border-box;
	border-radius: 10px;
}


.galery-frame {
	height: 470px;
	margin-bottom: 30px ;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#border-line {
	width: 400px;
	border-top: 1px solid #B3B3B3;
	padding-bottom: 35px;
}

#menu-ajout button {
	width: 237px;
	height: 37px ;
	color: white;
	background-color: #1D6154;
	font-size: 14px;
	margin-bottom: 45px;
	line-height: 37px;
}

.galerie-modale {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 5px;
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding-left: 40px;
}

.galerie-modale div {
	display: flex;
	position: relative;
	width: 76.86px;
	height: 102.57px;
	margin-top: 20px;
}



.galerie-modale .fa-trash-can {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 10px;
	padding: 3.5px;
	color: white;
	background-color: #000000;
	height: 12px;
	border-radius: 2px;
	line-height: 1;
	margin-right: 5px;
}

.galerie-modale a {
	z-index: 10;
	position: relative ;
	top: 0;
	left: 0;
	display: flex;
	margin-top: 5px;
	width: 17px;
	height: 17px;

}

#p-modal1 {
	margin-bottom: 40px;
}

#menu-ajout {
	font-size: 26px;
	font-weight: 400;
}

#menu-ajout img {
	max-width: 100%;
	max-height: 100%;
	height: 102.57px;
	width: 76.86px;
	margin-bottom: 20px;
}

#button-container {
	width: 100%;
	display: flex;
	flex-direction: row ;
	justify-content: space-between;
}


#close-button {
	margin-top: 40px;
	width: 100%;
	font-size: 18px;
}

#close-button2 a {
	display: flex;
	margin-top: 20px;
	width: 100%;
	font-size: 18px;
	position: relative;
	left: 50px;
	bottom: 30px;
}

#back-button a {
	margin-top: 20px;
	display: flex;
	font-size: 18px;
	position: relative;
	right: 50px;
	bottom: 30px;
}

#close-button a {
	position: relative;
	left: 507px;
	bottom: 26px;
}


#ajout-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#ajout-photo form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 420px;
	font-family: "Work Sans";
}

#ajout-photo #title,#choix-cat {
	box-sizing: border-box;
	width: 420px ;
	height: 51px;
	padding: 2px;
	box-shadow: 0 4px 14px rgba(0, 0,0, 0.09);
	border: none;
	margin-top: 15px;
	margin-bottom: 20px;
}

#ajout-photo #valider  {
	width: 237px;
	height: 37px;
	color: #FFFFFF;
	background-color: #A7A7A7;
	border: none;
	margin-top: 35px;
}


#label-title {
	margin-top: 20px ;
}

.fa-image {
	color: #B9C5CC ;
	height: 59.62px;
	width: 68.14px;
}

#browser-button {
	height: 169px;
	width: 100%;
}

#file {
	margin-top: 10px;
	display: flex;
	position: relative;
	z-index: 1 ;
	filter: opacity(0);
	width: 173px;
	height: 36px;
	cursor: pointer;
}

#ajout-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 169px;
	width: 420px;
	background-color: #E8F1F6 ;
	border-radius: 3px ;
	text-align: center;
	box-sizing: border-box;
	margin-top: 37px;
}

#ajout-frame span {
	height: 36px ;
	width: 173px;
	
}

#p-frame1 {
	margin-top: 10px;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	background-color: #CBD6DC;
	color: #306685;
	position: relative;
	bottom: 38px;
	z-index: 0;
	line-height: 36px;
	font-weight: 500;
}

#p-frame2 {
	font-size: 10px;
	font-weight: 400;
	color: #444444;
	line-height: 11.63px;
	position: relative;
	bottom: 30px;
}

.fa-image {
	margin-top: 15px;
	font-size: 59.62px;
	color: #B9C5CC;
}

#modal-title2 {
	font-size: 26px;
	font-weight: 400;
	font-family: 'Work Sans';
	line-height: 30.5px;
}

#line1 {
	width: 100%;
	padding-bottom: 35px;
	border-bottom: 1px solid #b3b3b3;
}

#overlay {
	z-index: 0;
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

#choix-cat, #title {
	font-family: 'Work Sans';
	padding-left: 10px !important;
}

.render {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 169px;
	width: 420px;
}

.render img {
	width: 75%;
	display: flex;
	object-fit: cover;
}

.ready-to-upload {
	color: white !important;
	background-color: #1D6154 !important;
}